# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.log

# Virtual environment
.venv/
venv/

# PyCharm
.idea/

# Allure
allure-results/
allure-report/

# OS
.DS_Store
Thumbs.db

# pytest
.pytest_cache/

# env
.env